/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* กำหนดธีม */
body.light {
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* ตัวอย่างสำหรับ dark mode */
.dark {
  --background-color: #1a202c; /* ปรับสีพื้นหลังสำหรับ dark mode */
  --text-color: #f7f8fa; /* ปรับสีข้อความสำหรับ dark mode */
}

.light {
  --background-color: #ffffff; /* ปรับสีพื้นหลังสำหรับ light mode */
  --text-color: #2d3748; /* ปรับสีข้อความสำหรับ light mode */
}
